@using BootstrapSupport
@model Object
@{
    Layout = "~/Views/shared/_LayoutPrincipal.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset class="form-horizontal">
        <legend>¿Desea eliminar el registro?</legend>
        @foreach (var property in Model.VisibleProperties())
        {

            if (@property.Name.ToLower().Contains("name") || @property.Name.ToLower().Contains("description") || @property.Name.ToLower().Contains("id"))
            {
                using (Html.ControlGroupFor(property.Name))
                {                
            @Html.Label(property.Name.ToSeparatedWords(), new { @class = "control-label" })
            <div class="controls">

                @Html.Display(property.Name)
                @Html.Hidden(property.Name)
                
            </div>
                }
            }
        }
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Confirmar</button>
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn " })
        </div>
    </fieldset>
}
<div>
    @Html.ActionLink("Volver", "Index")
</div>
