@model FNHMVC.Web.ViewModels.ChangePasswordFormModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/shared/_LayoutPrincipal.cshtml";
}


<div class="well">
    <div class="container" style="width: auto;">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "Cambio de contraseña no tuvo éxito. Por favor, corrija los errores e inténtelo de nuevo.")
            <div>
                <fieldset>
                    <legend>Información de la cuenta</legend>

                    <div class="editor-label">
                        @Html.LabelFor(m => m.OldPassword)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.OldPassword)
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(m => m.NewPassword)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.NewPassword)
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(m => m.ConfirmPassword)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Cambiar</button>
                        @Html.ActionLink("Cancelar", "MyAccount", "Account", new { @class = "btn " })
                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>
