@using FNHMVC.Web.Helpers;
@model IEnumerable<FNHMVC.Model.Cupon>
@{
    ViewBag.Title = "Cupones ";
    Layout = "~/Views/shared/_LayoutPrincipal.cshtml";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui-1.10.1.min.js" type="text/javascript"></script>



<legend>
    <div style="text-align: center;">
        <h2>Ventas Efectuadas</h2>
    </div>
</legend>

<p>
    @Html.ActionLink("Perfil", "MyAccount", "Account")
    @Html.ActionLink("Crear Cupón", "CreateCupon", "Account")
</p>

<div class="well">
    <div class="container" style="width: auto;">
        <table class="table table-hover-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Codigo Cupón</th>
                    <th>Porcentage Descuento</th>
                    <th>Activo?</th>
                    <th>Veces Usado</th>
                    <th>Creado</th>
                    
                    <th title="Activar" style="width: 36px;">A/D</th>
                </tr>
            </thead>
            <tbody>

                @{var index = 0;}
                @foreach (var p in Model)
                {
                    index++;

                    <tr>
                        <td>@index.ToString()</td>
                        <td>@p.CuponName</td>
                        <td>@(p.Discount*100) %</td>
                        @if(p.IsActive)
                        {
                            <td>Activo</td>
                        }
                        else
                        {
                            <td>Inactivo</td>
                        }
                            
                        <td>@(p.TimesUsed)</td>
                        <td>@p.Created.ToShortDateString()  @p.Created.ToShortTimeString() </td>
                        <td>
                        @Html.ActionLink(" ", "ActivateCupon", "Account", new { id = p.CuponId}, new { @class = "icon-lock" })
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
