@model IEnumerable<FNHMVC.Model.Sale>

@{
    //ViewBag.Title = "title";
    //Layout = "_Layout";
}

<legend>
    <div style="text-align: center;">
        <h2>Ofertas</h2>
    </div>
</legend>

<p>
    @Html.ActionLink("Perfil", "MyAccount", "Account")
</p>

<div class="well">
    <div class="container" style="width: auto;">
        <table class="table table-hover-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Imagen</th>
                    <th>Categoria</th>
                    <th>Titulo</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>En Oferta</th>
                    <th>Precio Oferta</th>
                    <th>Inicio Oferta</th>
                    <th>Fin Oferta</th>

                    <th title="Cambiar" style="width: 36px;"></th>
                </tr>
            </thead>
            <tbody>

                @{var index = 0;}
                @foreach (var p in Model)
                {
                    index++;

                    <tr>
                        <td>@index.ToString()</td>
                        <td>

                            <div style="width: 141px; height: 176px; overflow: hidden">
                                <img src="@p.Picture" width="150" height="176">
                            </div>

                        </td>
                        <td>@p.Category.Name</td>
                        <td>@p.Title</td>
                        <td>@p.Description</td>
                        <td>@p.Cost</td>
                        <td>@p.CostDeal</td>

                        @if (p.HasDeal)
                        { <td>Si</td> }
                        @if (!p.HasDeal)
                        { <td>No</td> }

                        <td>@p.DateFromDeal.ToShortDateString()  @p.DateFromDeal.ToShortTimeString() </td>
                        <td>@p.DateToDeal.ToShortDateString()  @p.DateToDeal.ToShortTimeString() </td>
                        <td>
                            @Html.ActionLink(" ", "EditDeals", "Sale", new { id = p.SaleId }, new { @class = "icon-edit" })
                            @Html.ActionLink(" ", "DeleteDeals", "Sale", new { id = p.SaleId }, new { @class = "icon-remove-sign" })
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>