@model IEnumerable<FNHMVC.Model.Sale>
@{
        //Layout = "~/Views/shared/_LayoutPrincipal.cshtml";
}

<legend>
    <div style="text-align: center;">
        <h2>Publicaciones</h2>
    </div>
</legend>

<p>
    @Html.ActionLink("Perfil", "MyAccount", "Account")
    @Html.ActionLink("Crear publicación", "Create")
</p>

<div class="well">
    <div class="container" style="width: auto;">
        <table class="table table-hover-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Imagen</th>
                    <th>Categoria</th>
                    <th>Titulo</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Inventario</th>
                    <th>En Venta?</th>
                    <th>Creado</th>
                    <th>Modificado</th>

                    <th title="Cambiar" style="width: 36px;"></th>
                </tr>
            </thead>
            <tbody>

                @{var index = 0;}
                @foreach (var p in Model)
                {
                    index++;

                    <tr>
                        <td>@index.ToString()</td>
                        <td>

                            <div style="width: 141px; height: 176px; overflow: hidden">
                                <img src="@p.Picture" width="150" height="176">
                            </div>

                        </td>
                        <td>@p.Category.Name</td>
                        <td>@p.Title</td>
                        <td>@p.Description</td>
                        <td>@p.Cost</td>
                        <td>@p.Quantity</td>

                        @if (p.ActiveForSales)
                        { <td>Si</td> }
                        @if (!p.ActiveForSales)
                        { <td>No</td> }

                        <td>@p.Created.ToShortDateString()  @p.Created.ToShortTimeString() </td>
                        <td>@p.Modified.ToShortDateString()  @p.Modified.ToShortTimeString() </td>
                        <td>
                            @Html.ActionLink(" ", "SendMail", "Sale", new { id = p.SaleId }, new { @class = " icon-envelope" })
                            @Html.ActionLink(" ", "Disable", "Sale", new { id = p.SaleId }, new { @class = " icon-lock" })
                            @Html.ActionLink(" ", "CreateFromExisting", "Sale", new { id = p.SaleId }, new { @class = "icon-plus-sign" })
                            @Html.ActionLink(" ", "Edit", "Sale", new { id = p.SaleId }, new { @class = "icon-edit" })
                            @Html.ActionLink(" ", "Delete", "Sale", new { id = p.SaleId }, new { @class = "icon-remove-sign" })
                            @Html.ActionLink(" ", "CreateDeals", "Sale", new { id = p.SaleId }, new { @class = "icon-flag" })
                            @Html.ActionLink(" ", "Spotlight", "Sale", new { id = p.SaleId }, new { @class = "icon-star" })
                            @Html.ActionLink(" ", "UploadImageModal", "UploadImages", new { id = p.SaleId }, new { @class = "icon-picture" })
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
